.card-layout {
  width: 300px;
  height: 295px;
  background-color: rgba(116, 116, 116, 0.4);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0 31px 0px rgb(0 0 0 / 10%);
  backdrop-filter: blur(15px);
}
